.vs
.vscode
.idea
*.o

dist/monkey3
dist/saves
dist/data
dist/*.LA0
dist/*.la0
dist/*.LA1
dist/*.la1
dist/*.LA2
dist/*.la2
dist/RESOURCE
dist/resource
dist/README

goodsoup.lha
*.log
*.GSF
.fuse_hidden*
*.GSV
*.GSI
source/gs/CppProperties.json
